.texto-presentacion{
    padding-top: 20px;
    padding-bottom: 20px;
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
}

.itemsContainer{
    padding-left: 5em;
    padding-right: 5em;
}